{
    "trailingComma": "all",
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 100,
    "tabWidth": 4
}
